.row
  .col-md-6
    div(ng-include='"control-panes/performance/cpu/cpu.pug"')
  .col-md-6
    div(ng-include='"control-panes/performance/memory/memory.pug"')
.row(style='width:100%; height:200px;')
  .col-md-6
    div(ng-include='"control-panes/performance/chart3/chart3.pug"')
  .col-md-6
    div(ng-include='"control-panes/performance/chart4/chart4.pug"')
.row
  .col-md-6
    div(ng-include='"control-panes/performance/chart5/chart5.pug"')
  .col-md-6
    div(ng-include='"control-panes/performance/chart6/chart6.pug"')
