.widget-container.fluid-height.stf-cpu(ng-controller='Chart6Ctrl')
  .heading
    i.fa
    span(translate) Chart 6

  .widget-content.padded
    div#chart6(style='width:100%; height:100%;')
      {{chart()}}
